*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.body{
    background-color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    color: white;
}
.delivery-address{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 1rem;
    color:  whitesmoke;

}
.delivery-address h1{
    color: white;
    font-size: 15px;
}
.search-bar{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: white;
    color: grey;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}
.search-drop-down{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: #e5e5e5;
    border-radius: 4px 0 0 4px;
}
.search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.search-icon{
    text-align: center;
    justify-content: center;
    max-width: 35px;
    padding: 10px;
    background-color: orange;
    border-radius: 0 4px 4px 0
}
.language{
    display:flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}
.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
.cart-logo{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.cart-logo i{
    font-size: 2rem;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background-color: #232f3e;
    color: white;
    font-size: 0.9rem;
    font-style: bold;
}
.nav-bottom a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}
    .main{
      background-image: url(https://m.media-amazon.com/images/I/81KkrQWEHIL._SX3000_.jpg);
      height: 400px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }
  .msg{
      font-size: 14px;
      background-color: #f5f6f6;
      width: 80%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
  }
  
  .msg a {
      color: #007185;
      text-decoration: none;
  } 
  
  .shop{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background-color: #e2e7e6;
  }
  
  .box{
      height: 400px;
      width: 23%;
      background-color: white;
      padding: 20px 0px 15px;
      margin: 8px;
  }
  
  .shop1{
      font-size: 16px;
  }
  
  .box1-img{
      height: 300px;
      background-size: cover;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
  
  .box1-content{
      margin-left: 1rem;
      margin-right: 1rem;
  }
  
  .shop1 p a{
        text-decoration: none;
        color: #007185;
        font-size: 15px;
  }
.all-images{
background-color:white;
padding-top:1%;
padding-bottom:1%;
width:98%;
padding-left:1%;
margin-top:1%;
}
.all-images h2{
  margin-bottom:5px; 
}
.all-images a{
  padding-right:2px;
  font-size:0.9rem;
  color:green;
  align-items:center;
}
.all-images a:hover{
  text-decoration:underline !important;
  color:brown;
  font-family:sans-serif;
}
.all-images1{
background-color:white;
padding-top:1%;
padding-bottom:1%;
width:98%;
padding-left:1.7%;
margin-top:1.5%;
}
.all-images1 img{
  padding-right:0.5%;
}
.shopping{
  display:flex;
  width:98.3%;
}
.shopping>.shopping-images, .shopping>.image-items{
  width: 25%;
}
.image2-0{
  margin-bottom: 10%;
}
.image2-1{
  margin-bottom:9%;
}
.shopping-images{
  padding-left:5px;
  background-color: white;
  margin-left:0.3%;
  margin-top:1.5%;
  margin-right:0.5%;
}
.shopping-images h3{
  padding-left:5%;
  padding-top:8%;
}
.img1{
  padding-left: 23%;
  padding-top:5%; 
}
.image-items2{
  margin-bottom:10%;
}
.img2{
  justify-content:center;
}
.image2-1{
padding-bottom:1px;
display:flex;
padding-left:9%;
padding-top:1%;
}
.shopping-images p{
  padding-left:4%;
  font-size:0.9rem;
}
.rupees{
  display:flex;
  padding-left:4%;
  padding-top:7px;
}
.image2-0{
  display:flex;
  padding-left:9%;
  padding-top:3%; 
}
.images1{
  outline:5px solid skyblue;
  margin-right:3%;
  padding:1%;
}
.images2{
  border:1px solid black;
  margin-right:3%;
  padding:1%;
}
.images3{
  border:1px solid black;
  margin-right:3%;
  padding:1%;
}
.images4{
  border:1px solid black;
  padding:1%;
}
.image1{
  outline:5px solid skyblue;
  margin-right:4%;
  padding:3%;
}
.image2{
  outline:1px solid black;
  margin-right:4%;
  padding:3%;
}
.image3{
  outline:1px solid black;
  margin-right:4%;
  padding:3%;
}
.image4{
  outline:1px solid black;
  margin-right:4%;
  padding:3%;
}
.img2{
  padding-left: 23%;
  padding-top:5%;
}
.selling{
  background-color: white;
  margin-left:0.3%;
  margin-top:1.5%;
  margin-right:1.5%;
}
.image-items{
  background-color: white;
  margin-left:0.3%;
  margin-top:1.5%;
  margin-right:1%;
  padding-left:1.5%;
  padding-right:1.5%;
  padding-bottom:3%;
}
.image-items h3{
  padding-top:5%;
  padding-bottom:4%;
}
.image-items1{
  display:flex;
  margin-bottom: 7%;
}
.image-items2{
  display:flex;
}
.shopping1{
  padding-right:6%;
}
.a-shop {
color:green;
margin-top:2%;
}
.a-shop:hover{
  color:#D60C39;
  text-decoration:underline;
}
.jean-image img{
  margin-top:2% !important;
  margin-bottom:2%;
}
.remaining{
  background-color: white;
  padding-top:2%;
}
.h2{
  display:flex;
  padding-top:1%;
  padding-bottom:2%;
}
.all-class{
  display: flex;
  padding-bottom:1%;
  padding-right:5% !important;
}
.t-shirt{
  padding-left:6%;
  padding-right:1%;
}
.t-shirt a{
  color:green;
}
.t-shirt a:hover{
  text-decoration:underline;
  color:brown;
}
.t-shirt i{
  color:orange;
}
.t-shirt{
  margin-right:1%;
}
.t-shirt .fa-indian-rupee-sign{
  color:black;
}
.t-shirt span{
  font-size: 1rem;
}
.r1{
  padding-bottom:8px;
  padding-top:5px;
}
.p{
  padding-bottom:8px;
}
.p1{
  padding-top:3% !important;
}
.button{
  display:flex;
}
.button button{
  background-color:#D60C39 ;
  border:none;
  padding:2%;
}
.button p{
  padding-left:8px;
color:#D60C39;
}
.sign-in{
  text-align:center;
}
.sign-in h2{
  padding-top:3%;
  padding-bottom:1%;
}
.sign-in button{
  padding-left:7%;
  padding-right:7%;
  padding-top:5px;
  padding-bottom:5px;
  background-color:orange;
  border:none;
  border-radius:5px;
  margin-bottom:5px;
}
.sign-in a{
  font-size:0.8rem;
  color:green;
}
.sign-in a:hover{
  color:#D60C39;
  text-decoration:underline;
}
.sign-in p{
  padding-bottom:20px;
  font-size:1rem !important;
}
footer{
  margin-top: 15px;
}
.firstpanel{
  height: 50px;
  background-color: #232F3E;
  color: white;
  font: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.secondpanel{
  background-color: #333;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
ul{
  margin-top: 20px;
}
ul a {
  display: block;
  font-size: 14px;
  margin-top: 15px;
  color: #dddddd;
}
.thirdpanel{
  background-color: #333;
  color: white;
  border-top: 0.5px solid #848688;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  background-image: rl(https://www.amazon.com/ref=nav_logo);
  height: 50px;
  width: 100%;
  background-size: cover;
  width: 100px;
}
.select-op{
  margin-left: 55px;
  display: flex;
}
.select-op select{
  background: transparent;
  color: #cccccc;
  font-size: 13px;
  text-decoration: none;
  margin-left: 5px;
  border: 1px solid #848688;
  padding: 6px 18px 6px 8px;
  border-radius: 3px;
}
.panel4{
  background-color: #333;
  color: white;
  height: 80px;
  font-size: 12px;
  text-align: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}
.page{
  text-align: center;
  padding-top: 25px;
}
.page a {
  text-decoration: none;
  color: white;
}
.copyright{
  margin-top: 5px;
}